Webpack (imports/exports)
  Babel
  Scss
  Eslint
  2 Modes
    --Dev-mode
      DevServer, SourceMap, Eslint, Not minified JS && CSS

    --Prod-mode
      Minified Code

Git
  --Production
    1.0.0
    ----------
  --Development
    1.0.2
    ------------