@import '../utils/variables';
@import '../utils/mixins';

.excel__header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: $header-height;
  padding: 8px 4px 0;
  display: flex;
  justify-content: space-between;

  &-input {
    min-width: 1px;
    height: 20px;
    margin: 0;
    padding: 2px 7px;
    color: rgb(0, 0, 0);
    font-size: 18px;
    line-height: 22px;
    border: 1px solid transparent;
    border-radius: 2px;
    outline: none;

    &:hover {
      border: 1px solid $border-color;
    }

    &:focus {
      border: 2px solid rgb(26, 115, 232);
    }
  }

  &-button {
    @include button(rgb(255, 0, 0));
  }
}
