@import '../utils/variables';
@import '../utils/mixins';

.excel__toolbar {
  position: absolute;
  left: 0;
  right: 0;
  top: $header-height;
  display: flex;
  height: $toolbar-height;
  padding: 7px 10px;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;

  &-button {
    @include button(rgb(0, 128, 0));
  }
}
